#content.normal .scroll-content{
  font-size: 1.4rem;
}
#content.middle .scroll-content{
  font-size: 1.5rem;
}
#content.big .scroll-content{
  font-size: 1.6rem;
}
.card .card-title{
  font-size: 1.6rem;
}
