page-detail {
  ion-card img{
    height: 100%;
  }
  ion-card-content{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient:vertical;
    overflow: hidden;
    padding-bottom: 0!important;
  }
  .card .card-title{
    padding-left: 16px;
  }
}
